.main {
  min-height: 100vh;
  width: 70% !important;
  padding: 10% 0;
}
@media (max-width: 768px) {
  .main {
    padding: 50% 0;
  }
}
.h1 {
  padding: 0;
  margin: 10px 0;
  line-height: initial;
}
.h1small {
  padding: 0;
  margin: 10px 0;
  line-height: initial;
}
.h3 {
  padding: 0;
  margin: 0;
}
