.contact {
    width: 70%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    color: #06B7DB !important;
    border-color: #06B7DB !important;
}

@media (max-width: 768px) {
    .contact {
        width: 100%;
    }
}