.verticalAlign {
  height: inherit;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 2%;
  padding-bottom: 20px;
}

.horizontalAlign {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mediaImg > * {
  height: 20px;
}
