.verticalAlign {
    height: inherit;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 2%;
}

.mediaImg > *{
    height: 20px;
    color: linear-gradient(45deg, #0072F5 -20%, #FF4ECD 50%)
}