.main {
  padding: 3rem auto 6rem auto;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 36rem){
  .title{
    font-size: 3rem;
  }
}

.subtitle {
  margin: 0.5rem 0 0 0;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 36rem){
  .subtitle{
    font-size: 1rem;
  }
}

.mediaLinks {
  display: flex;
  margin-top: 2rem;
}

.mediaImg {
  margin-right: 0.5rem;
  cursor: pointer;
  filter: invert(0.2);
}

.headings {
  color: white;
  font-family: 'Verdana';
  font-weight: 300;
}

.aboutMe {
  margin-top: 4rem;
  font-size: 2rem;
}