.container {
  height: 100%;
  padding: 0 20px 0px 20px;
}
.bodyRow {
  height: 90%;
}
.bodyRow > * {
  height: 100%;
  justify-content: center;
}
.navRow {
  height: 10%;
}
.mowBodyRow {
  height: 90%;
  flex-direction: column;
}
.mowBodyRow > * {
  justify-content: center;
}
.main {
  overflow-y: auto;
}
.mowMain {
  padding: 0 12px;
  height: 92%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.mowMain > * {
  width: 100%;
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mowSocial {
  padding: 12px 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
}
.line {
  width: 35%;
  border: 1px #3a3f42 solid;
  height: 1px;
  margin: auto 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
